.sidebar {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
}
.close_box {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}
.close {
  width: 20px;
  height: 20px;
}
.NavBox {
  margin: 105px 0px 0px 20px;
}
.NavBox > ul {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.NavItem {
  font-family: Lato;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 0.1em;
  text-align: left;
}
